<h2>Log In</h2>
<br/>
<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %><br/>
		<%= text_field_tag :email, params[:email], :class => "field" %>
	</div>
	<div class="field">
	  <%= label_tag :password %><br>
	  <%= password_field_tag :password, params[:password], :class => "field" %>	
	</div>
	<div class="field">
	  <%= submit_tag "enter", :class => "right" %>	
	</div>
<% end %>