<p id="notice"><%= notice %></p>
<h2>
	<%= image_tag @user.avatar.url(:medium) unless @user.avatar_file_name.nil? %><br>

<%= @user.screen_name %></h2><hr>
<table class="bio">
  
  <% unless @user.bio.blank? %>
  <tr>
	<td class="center">
    <b>bio</b><br>
    <%= @user.bio %>
   </td>
  </tr>
  <% end %>
  <% if @user == current_user %> 
  <tr>
	<td class="center"><hr><br>
	<b>email: </b><%= @user.email %><br>
	<i>(for your eyes only)</i><br>
      
    </td> 
  </tr>
 
  <tr>
    <td class="center" colspan="2">
	<br>
    <% if @user.omniauth_facebook %>
    <%= link_to 'edit info', edit_user_path(@user) %>
    <% else %>
    <%= link_to 'edit profile', edit_user_path(@user) %> |
    <%= link_to 'edit email', edit_user_registration_path(@user) %><br>
   
    <% end %>
    <%= link_to "delete my account", registration_path(@user), :confirm => "Are you sure?", :method => :delete %>.
    <% end %>
    </td>
  </tr>
  
</table><br/>

<% unless @user.posts.empty? %>
  <h2>recent slams</h2>
  <% @user.posts.each do |post| %>
    <%= render 'posts/post', :post => post %>
  <% end %>
<% end %>


