<p id="notice"><%= notice %></p>
<h2>profile</h2>
<table class="bio">
  <% unless @user != current_user %> 
  <tr>
	<td  class="right">
	  <b>email:</b>
	</td>
	<td>
      <%= @user.email %>
    </td> 
    </tr>
  <% end %>
	<tr>
    <td>
	  <b>screen_name:</b>
	<td>
      <%= @user.screen_name %>
     </td>
  </tr>
  <tr>
    <td class="center" colspan="2">
      <%= link_to 'edit', edit_user_registration_path(@user) unless @user != current_user %>
     <hr>
    </td>
  </tr>
  <tr>
   <td colspan="2">
	  <b>bio:</b>
      <%= @user.bio %>
    </td>
    </tr>
    <tr>
    <td  colspan ="2" class="center">
	  <%= link_to 'edit', edit_user_path(@user) unless @user != current_user %>
	</td>
  </tr>
</table><hr><br/>

<% unless @user.posts.empty? %>
  <h2>recent slams</h2>
  <% @user.posts.each do |post| %>
    <%= render 'posts/post', :post => post %>
  <% end %>
<% end %>


