


<% if current_user %>
<h2><%= link_to "welcome to crappr", posts_path, :class=>"chill" %></h2><br/>
<% if current_user.bio.blank? %>
  <%= form_for current_user do |f| %>
  <% if current_user.screen_name == current_user.email.split('@').first %>
  <br><div class="center"><b>please verify your public presence:</b></div>
  <%= render 'users/screen_name', :f => f %><br>
  <% end %>
  <%= render '/users/bio', :f => f %>
  <% if current_user.avatar_file_name.blank? %>
  <br><div class="center"><b>and upload a photo:</b></div>
  <p class="right"><%= f.file_field :avatar %></p><hr>
  <% end %>
  <div class="center"><br><%= f.submit "submit" %></div>
  <% end %>
<% end %>
<% else %>
<h2>welcome to crappr</h2>
<% end %>

