<hr>
<table>
  
  <tr>
	<% unless post.user.avatar.nil? %>
    <td rowspan="3">
      <%= image_tag post.user.avatar.url(:thumb) %>
    </td>
    <% end %>
	<td>
		<strong>
		  <%= link_to post.user.screen_name, post.user %>:<br>
		  <%= post.content %>
		</strong> 
	</td>
  </tr>

<br/>
<br/>
  
<table class="comments">
  <tr>
    <td> 
	  <%= link_to "comments(#{post.comments.count})", post %>
 	</td>
	<td class="right">
      <em><%= post.created_at.strftime("%b%d at %k:%M") %></em>
 	</td>
  </tr>
</table>