<hr>
<table>
  <tr>
	<% unless post.user.avatar_file_name.nil? %>
    <td rowspan="1">
      <%= image_tag post.user.avatar.url(:thumb) %>
    </td>
    <% end %>
	<td>
		  <b><%= link_to post.user.screen_name, post.user %>:</b><br>
		  <%= post.content %>
	</td>
  </tr>
</table>
  
<table class="comments">
  <tr>
    <td> 
	  <%= link_to "comments(#{post.comments.count})", post %>
 	</td>
	<td class="right">
      <em><%= post.created_at.strftime("%b%d at %k:%M") %></em>
 	</td>
  </tr>
</table>