<!DOCTYPE html>
<html>
<head>
  <title>Crappr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<nav class="header">
	<h2><%= link_to "crappr", root_path %></h2>
	<% if current_user %>
	  logged in: <%= link_to current_user.screen_name, current_user %><br/>
	  <%= link_to "see slams", posts_path %><br/>
	  <%= link_to "log out ", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "sign up", new_user_registration_path %> |
      <%= link_to "sign in", new_user_session_path %> |
      <%= link_to "with facebook", user_omniauth_authorize_path(:facebook) %>
    <% end %>
</nav>
<% if notice.present? %>
<p class="round notice"><%= notice.downcase %></p>
<% end %>
<% if alert.present? %>
<p class="round notice alert"><%= alert.downcase %></p>
<% end %>

<div class="round container">

	<%= yield %>

</div>
</body>
</html>
