<!DOCTYPE html>
<html>
<head>
  <title>Crappr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<nav class="header">
	<h2><%= link_to "crappr", root_path %></h2>
	<% if current_user %>
	  Logged in as <%= current_user.screen_name %>.<br/>
	  <%= link_to "see slams", posts_path %><br/>
	  <%= link_to "log out ", log_out_path %>
    <% else %>
      <%= link_to "sign up", sign_up_path %>
      <%= link_to "sign in", sign_in_path %>
    <% end %>
</nav>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div class="round container">

	<%= yield %>

</div>
</body>
</html>
